/* styles/VisualizarColaborador.module.css */

/* Estilos para o contêiner */
.container {
    padding: 20px;
}

/* Estilos para o menu de abas */
.tabMenu {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    width: 100%; /* Assegura que o menu tenha a mesma largura da tabela */
}

.tabMenuMobile {
    display: flex;
    flex-direction: column; /* Muda para vertical em dispositivos móveis */
}

.tabMenuDesktop {
    display: flex; /* Horizontal em desktop */
}

.tabLink {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabLink:hover {
    background-color: #ddd;
}

.tabLinkActive {
    background-color: #326ab3;
    color: white;
}

/* Estilos para o conteúdo das abas */
.tabContent {
    height: auto;
    width: 100%; /* Alterado para 100% para melhor responsividade */
    /* padding: 20px; */
}

/* Estilo básico da tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

/* Estilo para o cabeçalho da tabela */
.table thead th {
    background-color: #326ab3;
    color: white;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
}

/* Estilo para o corpo da tabela */
.table tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

/* Estilo para os cartões móveis */
.mobileCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

/* Responsividade */
@media (max-width: 1115px) {
    .table {
        display: none; /* Oculta a tabela em dispositivos móveis */
    }

    .mobileCard {
        display: block; /* Garante que os cartões sejam exibidos */
    }
}

@media (min-width: 1116px) {
    .mobileCard {
        display: none; /* Oculta os cartões em telas maiores */
    }
}
